#container{
    width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


body{
  background-color: #ed6a5a;
}

label{
  color: #f4f1bb;
}

th{
  color:#9bc1bc;
}
